<.header>
  New Area
  <:subtitle>Use this form to manage area records in your database.</:subtitle>
</.header>

<.area_form changeset={@changeset} action={~p"/areas"} />

<.back navigate={~p"/areas"}>Back to areas</.back>
